name: Benchmark

on:
  push:
    branches:
      - master
  pull_request: {}

jobs:
  compile:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Kaitai Struct compiler
        run: |
          sudo apt-key adv --keyserver hkp://pool.sks-keyservers.net --recv 379CE192D401AB61
          echo "deb https://dl.bintray.com/kaitai-io/debian jessie main" | sudo tee /etc/apt/sources.list.d/kaitai.list
          sudo apt-get update
          sudo apt-get install kaitai-struct-compiler
      - name: Compile .ksy files
        run: kaitai-struct-compiler -- --verbose file -d compiled -t python *.ksy
      - name: Upload parsers as workflow artifacts
        uses: actions/upload-artifact@v2
        with:
          name: compiled
          path: compiled/*.py

  run:
    runs-on: ubuntu-latest
    needs: compile
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - 2.7
          - pypy2
          - 3.8
          - pypy3
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Upgrade pip
        run: python -m pip install --upgrade pip
      # - name: Install enum34
      #   run: python -m pip install enum34
      #   if: ${{ matrix.python-version == 2.7 || matrix.python-version == 'pypy2' }}
      - name: Install statistics
        run: python -m pip install statistics
        if: ${{ matrix.python-version == 2.7 || matrix.python-version == 'pypy2' }}
      - name: Install KS runtime library
        run: python -m pip install kaitaistruct
      - name: Generate sample.bin
        run: python generate_sample.py
      - name: Download compiled parsers
        uses: actions/download-artifact@v2
        with:
          name: compiled
      - name: List current directory
        run: ls -al
      - name: Run benchmark
        run: python index.py
